@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #C8102E;
}

@theme {
  --font-sans: var(--font-inter);
  --color-red-600: #C8102E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.6; transform: scale(1.05); }
  50% { opacity: 0.8; transform: scale(1.08); }
}

.animate-pulse-slow {
  animation: pulse-slow 10s ease-in-out infinite;
}
